@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&family=Saira:wght@400;700&display=swap');
@tailwind base;
@layer base {
  html {
    @apply font-saira;
  }
}
@tailwind components;

@layer components {
  .admin-form__input {
    @apply outline-inputsOutline rounded-[5px] bg-inputsBg px-4 py-[5px] text-inputsPlaceholder;
  }
}

@tailwind utilities;
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
